<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="app">

    <h4 id="name-message">You are logged in as {{randomName}}.</h4>


    <!-- Join or Leave a Conference -->
    <div id="form">
      <ion-item>
        <ion-label>Conference alias :</ion-label>
        <ion-input id="alias-input" value="Avengers meeting" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button expand="block" id="join-btn" (click)="createMeeting('Avengers meeting')">Join</ion-button>
        <ion-button expand="block" id="leave-btn" (click)="leaveMeeting()">Leave</ion-button>
        <ion-label id="label-dolby-voice">{{lblDolbyVoice}}</ion-label>
      </ion-item>
    </div>
    
    <!-- Actions on Video and Screen Share -->
    <div id="actions">
    <ion-item>
        <ion-button  expand="block" id="start-video-btn" (click)="startVideo()">Start video</ion-button>
        <ion-button expand="block" id="stop-video-btn" (click)="stopVideo()">Stop video</ion-button>
      </ion-item>
    <ion-item>
        <ion-button expand="block"  id="start-audio-btn" (click)="startAudio()">Start audio</ion-button>
        <ion-button expand="block" id="stop-audio-btn" (click)="stopAudio()">Stop audio</ion-button>
      </ion-item>
    <ion-item>
        <ion-button expand="block" id="start-screenshare-btn" (click)="startScreenShare()">Start screen share</ion-button>
        <ion-button expand="block" id="stop-screenshare-btn" (click)="stopScreenShare()">Stop screen share</ion-button>
      </ion-item>
    </div>

    <!-- Recording Actions and Status -->
    <div id="recording">
    <ion-item>
        <ion-button expand="block" id="start-recording-btn" (click)="startRecording() ">Start recording</ion-button>
        <ion-button expand="block" id="stop-recording-btn" (click)="stopRecording()">Stop recording</ion-button>
        <p id="record-status" style="color: red;">{{recordStatus}}</p>
      </ion-item>
    </div>
 
        <!-- Display the list of participants -->
        <div id="participants">
          <h3>Participants</h3>
          <ul id="participants-list"></ul>
      </div>

      <!-- Container for the video streams -->
      <div id="video-container">
        <ion-button (click)="clickMe()">Hello</ion-button>
        <!-- <div>
        <video>

        </video>
      </div> -->
      </div>

      <!-- Container for the Screen Share -->
      <div id="screenshare-container"></div>
</div>

</ion-content>
